n8n/google-sheet-import.json
{
  "name": "Import Leads from Google Sheet",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [460, 300],
      "id": "1d8b9b9a-7c3e-4b8c-9d6a-5e2f1g9h4j5k",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "2e9c0c0b-8d4f-5c9d-0e7b-6f3g0h5j6k7l"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-domain.com/api/leads/import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "sitconnect-secret-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fullName",
              "value": "={{$json[\"Name\"]}}"
            },
            {
              "name": "email",
              "value": "={{$json[\"Email\"]}}"
            },
            {
              "name": "phone",
              "value": "={{$json[\"Phone\"]}}"
            },
            {
              "name": "eventSlug",
              "value": "change-this-event-slug"
            },
            {
              "name": "country",
              "value": "={{$json[\"Country\"]}}"
            },
            {
              "name": "city",
              "value": "={{$json[\"City\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Import to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300],
      "id": "3f0d1d1c-9e5g-6d0e-1f8c-7g4h1i6j7k8l"
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Import to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import to API": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
